mariadb==1.1.11
langchain-mariadb==0.0.16
langchain-openai==0.3.2
websockets==14.2
pypdf==5.2.0
langgraph==0.2.68
langchain-community~=0.3.13
langchain-text-splitters~=0.3.4
langchain~=0.3.13
markdown==3.7
sqlalchemy==2.0.36
